<?xml version="1.0" encoding="UTF-8"?>
<web-app id="channelguide" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>jBPM Channel Guide</display-name>
	<servlet>
		<display-name>Default Servlet for Directory Listings</display-name>
		<servlet-name>DirectoryListingServlet</servlet-name>
		<servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>0</param-value>
		</init-param>
		<init-param>
			<param-name>listings</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<display-name>Channel Guide</display-name>
		<servlet-name>ChannelGuide</servlet-name>
		<servlet-class>org.jboss.channelguide.web.ChannelGuideServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ChannelGuide</servlet-name>
		<url-pattern>/videos</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>1440</session-timeout>
	</session-config>
	<mime-mapping>
		<extension>svg</extension>
		<mime-type>image/svg+xml</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>json</extension>
		<mime-type>application/json</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>css</extension>
		<mime-type>text/css</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>ico</extension>
		<mime-type>image/x-icon</mime-type>
	</mime-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
